block head
	head
		block meta
			meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
			block metadesc
		title 
			block titletext
				|document
		block favicon
			//- Icon for all browsers besides IE and iPhone. Size 16x16
			link(rel="icon",href="http://tral89.ru/img/favicon.png" type="image/png")
			//- Icon for iPhone. Size:60×60 / retina:120×120
			link(rel="apple-touch-icon",href="apple-touch-icon.png")
			//- Icon for lte IE 9
			//[if IE]>
				<link rel="shortcut icon" href="path/to/favicon.ico">
				<![endif]
			//- Icon for IE 10 size: 144×144
			meta(name="msapplication-TileColor",content="#C0C0C0")
			meta(name="msapplication-TileImage",content="tileimage.png")
		block topincludes