doctype
html(lang="ru")
	head
		block meta
			meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
			meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
			meta(http-equiv="X-UA-Compatible",content="IE=edge")
		title 
			block titletext
				|document
		block favicon			
		block topincludes
	block body
		body
			<!--[if lt IE 9]>
			p
				| You are using an <strong>outdated</strong> browser.
				| Please <a href="http://browsehappy.com/">upgrade your browser</a>
				| to improve your experience.
			<![endif]-->
			block bodyinner
			block bottomincludes